<%= form_for @recipe do |f| %>
  <p>Recipe</p>
  <%= f.label :title %>
  <%= f.text_field :title %><br>
  <p>Ingredients2</p>
  <%= f.fields_for :ingredients do |ingredient| %>
    <%= ingredient.label :name %>
    <%= ingredient.text_field :name %>
    <%= ingredient.label :quantity %>
    <%= ingredient.text_field :quantity %><br>
  <% end %>

  <%= link_to 'Add ingredient', @recipe %> 
  <%= f.submit %>
<% end %>

