<!-- <%= render 'form', recipe: @recipe %> -->

<%= form_for @recipe do |f| %>
  <h3>Recipe</h3>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <h3>Ingredients</h3>
  <%= f.fields_for :ingredients do |i| %>

    <br>
    <%= i.label :name %>
    <%= i.text_field :name %>
    <br>
    <%= i.label :quantity %>
    <%= i.text_field :quantity %>


  <% end %>

  <br>
  <%= f.submit %>
<% end %>
